@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.info{

    padding-top: 16px;
    font-family: 'Apercu Mono';

    &__text{
        font-family: 'Apercu Mono';
    }

    &__body{
        @include tablet{
            display: flex;
            align-items: baseline;
            padding-left: 1.25rem;
            padding-right: 1.25rem;
        }
    }

    &__stock-photo{    

        width: 85%;
        /* padding-left: 77px; */
        border-radius: .6875rem;
        //add a styling effect

        @include tablet{
            padding-left: 3.125rem;
            max-width:31.25rem; 
        }
        
    }

    &__title{

        font-size:2.75rem;
        font-family: 'Apercu Mono';
        font-weight:500;
        margin-bottom: 0; 
        display: none;
        
    }

    &__body-left{

        @include tablet {
        align-self: center;
        // width: 19.375rem;
        }
    }

    &__body-right{
        @include tablet{
        width: 87%;
        }
    }

    &__text{
        font-size: 1.25rem;
        @include tablet{
        width: 50%;
        text-align: center;
        margin: auto;
        padding-top: 1.25rem;
        font-size: 1.25rem;
        }
    }

    &__brief-text{
        margin:auto;
        text-align: center;
        font-size:1.125rem; 
    }

    &__quote{
        font-style: italic;
        font-family: 'Apercu Mono';
    }

    &__pages{
        text-align: left;
    }

    
}