@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;

.commentPage{
    font-family: "Apercu Mono";

    &__left-side{
        padding: 0.5rem 1rem;
        border: solid #000000 0.1rem;
        border-radius: 1.25rem;
        width: 50%;
        margin: auto;
        background-color: white;
    }

    &__title{
        text-align:left;
        padding-top: .625rem;
        padding-bottom: .625rem;
    }

    &__postText{
        text-align: left;
        padding-top: .625rem;
        padding-bottom: .625rem;
    }

    &__username{
        text-align: right;
    }

    &__list-of-comments{
        padding: 0.5rem 1rem;
        border: solid #000000 0.1rem;
        border-radius: 1.25rem;
        width: 50%;
        margin: auto;
        text-align: left;
        margin-top: 1rem;
        background-color: white;
    }

    &__comment-text, &__btn{
        text-align: center;
        padding: 0.5rem 1rem;
        border: solid #BDC5D5 0.1rem;
        border-radius: 1.25rem;
    }

    &__comment-text{
        padding:3.4375rem 1rem;  
    }

    &__comment-section{

        display: flex;
        flex-direction: column;
        width: 53%;
        margin: auto;
        padding-top: 2.1875rem;
        padding-bottom: 1.25rem;
    
    }

    &__return{
        // text-align: left;
        color: red; 
    }

}
