@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.login-form{
    font-family: 'Apercu Mono';
    border:2px solid black; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 36%;
    margin: 0 auto;
    border-radius: 0.5rem;
    margin-top: 6.25rem;


    &__section{
        display:flex;
        flex-direction:column; 
    }

    &__left, &__right{
        display:flex;
        flex-direction: column;
    }

    &__input{
        padding: 0.5rem 1rem;
        border: solid #BDC5D5 0.1rem;
        border-radius: 1.25rem;
        text-align: left;
    }

    &__label{
        text-align:left;
        padding-bottom: .625rem;
        padding-top: .625rem;
        
    }

    &__btn{
        padding: 0.5rem 1rem;
        border: solid #BDC5D5 0.1rem;
        border-radius: 1.25rem;
        width: 197px;
        margin-top: 1rem;
        margin-bottom: 1rem; 
    }

    &__title{
        margin-top: 2.25rem;
        margin-bottom: 2.25rem;
    }
}