@use '../../styles/partials/variables' as *;
@use '../../styles/partials/mixins' as *;
@use '../../styles/partials/fonts' as *;


.createComment{

    &__comment{
        padding: 0.5rem 1rem;
        border: solid #000000 0.1rem;
        border-radius: 1.25rem;
        width: 50%;
        margin-top: .625rem;
        cursor: pointer;
        background-color: white;
    }

    &__comment-title{
        text-align:left; 
    }

    &__comment-body{
        text-align:left; 
        padding-top:.625rem;
        padding-bottom:.625rem; 
        
    }

    &__comment-userName{
        text-align: right;
        display: none; 
    }

}